* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #a4d4ee;
    --secondary-color: rgb(1, 1, 51);
    --tertiary-color: #ecf7f8;
    --Fourth-color: black;
}

/* Apply Styles to Body */
body {
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styles Section */
header {
    background-position: 80%;
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: inline-flexbox;
    /* flex-wrap: wrap; */
    position: sticky;
    width: 100%;
    top: 0;
    /*z-index: 9999; */
}

section {
    margin: 0 auto;
    width: 95%;
}

.box1 {
    margin: 0 10px;
    display: inline-block;
    justify-content: left;
}

.box2 {
    align-self: stretch;
    width: 50%;
    display: inline-block;
}

header h1 {
    font-weight: bold;
    text-align: left;
    font-size: 32px;
    color: var(--secondary-color);
    margin: 5px, 10px;
}

header h2 {
    font-weight: lighter;
    text-align: left;
    font-size: 28px;
    margin: 5px, 10px;
    color: var(--secondary-color);
}

header nav {
    display: inline-block;
}

header nav ul {
    display: inline-block;
}

header nav ul li {
    display: inline-block;
    list-style: none;
}

header nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 24px;
    text-decoration: none;
    color: var(--secondary-color);
}

/* About Me Style Section */
.about h3 {
    font-weight: bold;
    font-size: 32px;
    margin: 10px 10px;
}

.about p {
    margin: 10px 10px;
    font-size: 18px;
    width: 80%;
}

.my-work h1 {
    font-weight: bold;
    font-size: 32px;
    margin: 10px 10px;
}

/* My Work Grid Style */
.mywork-grid-container {
    display: grid;
    grid-template-columns:  auto auto auto;
    padding: 10px;
    grid-gap: 10px;
}

.mywork-grid-container img {
    height: 70px;
    width: 70px;
}


.mywork-grid-container a {
    text-decoration: none;
}

.mywork-grid-container h4  {
    color:darkblue;
    margin: 10px 0;
    font-size: 20px;
    text-align: left;
}

.mywork-grid-container h4:hover  {
    color:white;
    background-color:darkblue;
    margin: 10px 0;
    font-size: 20px;
    text-align: left;
}

/* Footer Style */
footer {
    /*position: sticky;
    left:0;
    height: 80px;
    bottom: 0;*/
    width: 100%;
}

.background {
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    float: center;
}
.cme {
    font-size: 20px;
    margin: 10px 10px;
    color: lightskyblue;
}

.background p {
    margin: 10px 10px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    justify-content: left;
} 

.background a {
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    justify-content: left;
    font-size: 18px;
    text-decoration: none;
    color: var(--tertiary-color);
}

.background {
    background-color: var(--Fourth-color);
    color: var(--tertiary-color);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media only screen and (max-width: 1024px) {
    .box2 {
        width: 35%;
    }

    header nav ul li a {
        font-size: 20px;
    }
}
/* MEDIA QUERY FOR IPAD */
@media only screen and (max-width: 768px) {
    .box2 h1, .box2 h2 {
        padding: 0;
        margin: 0;
        font-size: 20px;
        width: 75%;
    }
    header nav ul li a {
        margin: 5px 5px 5px 0px;
        font-size: 20px;
    }
    .background p, .background a {
        font-size: 16px;
    }
}

/*  MEDIA QUERY FOR MOBILE PHONES */
@media only screen and (max-width: 414px) {
    header {
        padding: 10px 10px;
    }

    .box1 img {
        margin: auto;
        width: 75px;
        height: 75px;
    }
    
    .box2 h1, .box2 h2 {
        padding: 0;
        margin: 0;
        font-size: 16px;
        width: 150px;
    }

     header nav ul li a {
        margin: 0 5px;
        font-size: 16px;
    }

    .background p, .background a {
        width: 100%;
        font-size: 14px;
    }
}